*{
  margin:0px;
  padding:0px;
}
body{
  background-color:rgb(242, 242, 242);
}

.box{
  width:80%;
  margin:0 auto;
  padding:50px;
  background-color:rgba(255, 255, 255,0.4);
  border:solid 1px rgb(204, 204, 204);
  border-radius: 3px;
}

header{
  text-align: center;
  background-color: rgb(166, 166, 166);
}

h1{
  padding:20px;
  font-family:sans-serif;
  font-size:60px;
}

nav{
  width:100%;
  border:1px solid rgb(77, 77, 77);
  background-color:rgb(13, 13, 13);
  border-radius: 4px;
}

section{
  float:left;
  width:70%;
  margin-top:20px;
  border: 1px solid;


}

.art1{
  margin-top:20px;
  padding:20px;
  border:1px solid rgb(255, 255, 204);
  width:60%;
  text-align:justify;
  background-color:rgba(230, 230, 0,0.8);
  border-radius: 4px;
}

.art2{
  float:left;
  margin-top:20px;
  padding:20px;
  border:1px solid rgb(255, 255, 204);
  width:96%;
  background-color:rgba(230, 230, 0,0.8);
  border-radius: 4px;
}

aside{
  margin-top:20px;
  float:left;
  width:29.7%;
  border: 1px solid;
}

footer{
  margin-top:20px;
  clear:both;
  width:100%;
  border: 1px solid;
}

ul{
  list-style-type:none;
}

li{
  display: inline-block;
  margin-right:15px;
  padding:30px;
  color:white;
  font-size:25px;
  font-family:sans-serif;
}

li:hover{
  background-color:rgb(64, 64, 64);
  opacity:0.4;
}

.active{
  background-color: rgba(230, 230, 0,0.8);
}


img{
  width:450px;
}

p{
  text-indent:25px;
  font-size:20px;
  font-family:sans-serif;
}

.art2 p{
  float:right;
  width:50%;
}

h2{
  font-family: sans-serif;
  font-weight: 600;
  padding:5px;
}
